body {
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 17vh;
    margin-bottom: 20vh;
    background: linear-gradient(-45deg, transparent 16px, #1E1E1E 0), linear-gradient(45deg, transparent 16px, #1E1E1E 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 22px 32px;
}

header h1 {
    width: 100%;
    background-color: #1E1E1E;
    color: #F9F4F4;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-weight: 300;
    font-size: 4em;
    padding: .1em;
    font-family: "Helvetica Neue", serif;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 17vh auto;
}

.basics {
    margin: auto;
    flex: 1;
}

.story {
    margin: 0;
    flex: 2;
    /* margin-left: 2em; */
}

.storycontent {
    display: flex;
}

.story h2 {
    padding-left: 2.7em;
}

p {
    width: 300px;
    border-left: 1px dotted gray;
    padding-left: 2em;
    margin: 0 auto;
}

img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 8em;
}

ul {
    list-style: none;
    padding: 0;
}